python-dotenv
flask
flask-wtf
google-api-python-client
google-auth-oauthlib
google-auth
openpyxl
openai>=1.30.0
pandas
pymysql
pytest
pytest-mock
pytest-playwright
playwright
selenium
OpenDartReader
pykrx
flask-limiter==4.1.1